/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

.header__link {
    text-underline-position: under;
    font-size: 18px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header-logo {
    width: 148px;
    height: 105px;
}

.header-logo-image {
    height: 100%;
}

.address {
    display: flex;
    max-width: 240px;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
}

.header__address {
    line-height: 133%;
    align-items: start;
    justify-self: end;
    width: 240px;
}

.address__link {
    text-underline-position: under;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 50px 50px;
    background-repeat: no-repeat;
    gap: 91px;
}

.overlay {
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cover__title {
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    font-size: 100px;
    color: #fff;
    letter-spacing: 30px;
    font-weight: 700;
    row-gap: 20px;
}

.aligned-text {
    display: block;
    padding-bottom: 20px;
    line-height: 115%;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;
    gap: 107px;
}

.cover__description-text {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 18px;

}

.bet-button {
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
}

.lots {
    padding-top: 180px;
    padding-left: 24px;
    padding-right: 24px;
}


.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 27px;
    font-weight: 700;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;

}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card__title {
    font-size: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    z-index: 3;
    text-decoration: underline;
    text-underline-position: under;
}

.card__text {
    font-size: 20px;
    color: #fff;
    text-align: left;
    z-index: 3;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
}

.lots__look-more-link {
    text-underline-position: under;
}

.about {
    padding-top: 120px;
    padding-right: 24px;
    padding-left: 24px;
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
}

.about__logo {
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 35px;
}

.about__logo-image {
    height: 114px;
    width: 148px;

}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 136px;
    margin-bottom: 100px;
    font-weight: 700;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;

}

.footer {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
    line-height: 133%;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-list-item {
    font-size: 18px;
}

.footer__menu-link {
    text-underline-position: under;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}


